.pie-container{
  flex: 1;
}
.pie{
  width: 300px;
  height: 300px;
  filter: drop-shadow( 0 0px 12px #ddd);
}

.pie__chart{
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 140;
  stroke: #000;
  transform: translate(75px, 75px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}