.pie-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pie {
  width: 290px;
  height: 290px;
  filter: drop-shadow(0 0px 12px #ddd);
}

.pie__selected-chart-info{
  margin-top: 15px;
}
